<script>
  $(document).ready(function() {
  });
</script>

<footer>
  <p class="tech">
    <small>
      Technology: <i>Ruby</i>, <i>Rails</i>, <i>Facebook Graph API</i>,
      <i>OAuth</i>, <i>Bootstrap</i>, <i>Javascript</i>, <i>JQuery</i>,
      <i>HTML5</i>, <i>CSS3</i>, <i>SCSS</i>
    </small>
  </p>
  <p id="author">
    made with <span id="love">♥</span> by <a href="https://github.com/styd">Adrian Setyadi</a>
  </p>
</footer>
